<div class="container text-center mt-5">
  <h1 class="display-4">Welcome to Expense Tracker</h1>
  <p class="lead">Track your expenses easily and efficiently.</p>

  <div class="mt-4">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg mx-2" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary btn-lg mx-2" %>
  </div>

  <div class="mt-5">
    <img src="https://source.unsplash.com/600x300/?finance,money" class="img-fluid rounded shadow" alt="Finance Image">
  </div>
</div>
